absl-py
attrs
click
gymnasium
idna
imageio
matplotlib
mpyq
numpy
pbr
Pillow
pluggy
portpicker
probscale
protobuf
py
pygame
pyparsing
pytest
python-dateutil
PyYAML==5.3.1
requests
sacred
seaborn
scipy
six
snakeviz
tensorboard-logger
tornado
urllib3
websocket-client
whichcraft
wrapt
openai
google-generativeai
anthropic
protobuf==3.20.3
aiohttp==3.9.5
